# 服务器配置
PORT=5000
NODE_ENV=development

# Dify AI API配置
AI_API_KEY=your_dify_api_key_here
AI_API_URL=https://api.dify.ai/v1

# 飞书API配置
FEISHU_APP_ID=cli_a80e68a000d8d00e
FEISHU_APP_SECRET=KjHxXvVp0nvrnL3GkZNgBHB2BhXTfX3E
FEISHU_API_URL=https://open.feishu.cn/open-apis 